<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/header') %>
        <title>Signup</title>
</head>

<body>
    <%- include('./partials/nav') %>

        <div class="container mt-4">
            <h1>Sign Up</h1>
            <form method="post" action="/user/signup">
                <div class="mb-3 mt-3">
                    <label for="fullName" class="form-label">Full Name</label>
                    <input type="text" name="fullName" class="form-control" id="fullName">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password">
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <%- include('./partials/footer') %>
</body>

</html>